<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<title>{{ .Title }}</title>

		{{ partial "head.html" . }}
	</head>

	<body>
		<div class="flexWrapper">
			{{ partial "header.html" . }}

			<div class="content vertical">
				<main class="main">
					<div class="indexWrapper">
						{{ if .Site.Params.author.avatarFirst }} {{ partial "avatar.html" .
						}} {{ end }}
						<div>
							<h1 class="indexHeader" style="margin-bottom: 4px">
								{{ .Site.Params.author.name }}
							</h1>
							{{ if .Site.Params.location }}
							<h3 class="indexSubHeader">
								<i class="fa-solid fa-location-pin"></i>
								{{ .Site.Params.location }}
							</h3>
							{{ end }}
						</div>
						{{ if not .Site.Params.author.avatarFirst }} {{ partial
						"avatar.html" . }} {{ end }} {{ if isset .Site.Params "social" }} {{
						partial "social.html" . }} {{ end }}
					</div>

					<div>{{ .Content }}</div>
				</main>
			</div>

			{{ partial "footer.html" . }}
		</div>

		<script src="/fade.js"></script>
	</body>
</html>
